= form_tag session_path, :remote => true, :id => :new_session do
  = error_tag @message if request.xhr?
  = label_tag :email, 'Email'
  = text_field_tag :email
  = label_tag :password, 'Password'
  = password_field_tag :password
  = submit_tag 'Sign In'
