= form_for [@schedule, @group], :remote => true do |f|
  = f.label :name, 'Name'
  = f.text_field :name
  = error_tag @group.errors[:name]
  = f.label :teacher_id, 'Teacher'
  = f.select :teacher_id, @schedule.teachers.map{ |t| [t.name, t.id] }
  = f.submit :OK
