%tr{:id => "group_#{group.id}"}
  %td= group.name
  %td= group.teacher.name unless group.teacher.nil?
  %td.actions
    - unless @schedule.published?
      = link_to t(".edit"), edit_schedule_group_path(@schedule, group), :remote => true
      = link_to t("delete"), schedule_group_path(@schedule, group), :method => :delete, :remote => true
