= form_for @dispatcher, :url => user_path(@dispatcher), :remote => true do |f|
  = f.label :first_name, t(".first_name")
  = f.text_field :first_name
  = error_tag @dispatcher.errors[:first_name]
  = f.label :last_name, t(".last_name")
  = f.text_field :last_name
  = error_tag @dispatcher.errors[:last_name]
  %br
  = f.submit t(".ok")
