= form_for @schedule, :remote => true do |f|
  = f.label :title, t(".title")
  = f.text_field :title
  = f.label :lesson_duration, t(".lesson_duration")
  = f.number_field :lesson_duration
  = error_tag @schedule.errors[:title]
  %br
  = f.submit t(".ok")
