%h1= @schedule.title

= link_to 'Teachers', schedule_teachers_path(@schedule)
= link_to 'Audiences', schedule_audiences_path(@schedule)
= link_to 'Groups', schedule_groups_path(@schedule)

- if @schedule.groups.any?
  %table
    %thead
      %tr
        %th
        - @schedule.groups.each do |group|
          %th{:id => "group_#{group.id}"}= group.name
    %tbody
      - Date::DAYNAMES.each do |day|
        %tr
          %td= day
          - @schedule.groups.each do |group|
            %td
              - if group.lessons.first #here will be day condition
                .lesson{ :id => "lesson_#{@schedule.lessons.first.id}"}= group.lessons.first.name #move to partial
              - else
                = link_to('+', new_schedule_lesson_path(@schedule, :group_id => group.id), :rel => :lazybox)
