%h1= @schedule.title

= link_to 'Manage Teachers', schedule_teachers_path(@schedule)
= link_to '+', new_schedule_teacher_path(@schedule), :rel => :lazybox
= link_to 'Manage Audiences', schedule_audiences_path(@schedule)
= link_to '+', new_schedule_audience_path(@schedule), :rel => :lazybox
= link_to 'Manage Groups', schedule_groups_path(@schedule)
= link_to '+', new_schedule_group_path(@schedule), :rel => :lazybox
= link_to 'Manage Schedule Calls', schedule_schedule_calls_path(@schedule), :rel => :lazybox
= link_to '+', new_schedule_schedule_call_path(@schedule), :rel => :lazybox

- if @schedule.groups.any?
  %table
    %thead
      %tr
        %th
        - @schedule.groups.each do |group|
          %th{:id => "group_#{group.id}"}= group.name
        %th.new_group= link_to '+', new_schedule_group_path(@schedule), :rel => :lazybox
    %tbody
      - Schedule::DAYS.each_pair do |i, day|
        %tr
          %th{ :scope => :row }= day
          - @schedule.groups.each do |group|
            %td
              - if lesson = @schedule.lessons.find_by_group_id_and_day_id(group.id, i)
                = render :partial => 'lesson', :object => lesson
              - else
                = link_to('+', new_schedule_lesson_path(@schedule, :group_id => group.id, :day_id => i), :rel => :lazybox)
