.menu
  = link_to t(".all"), schedule_path(@schedule)
  - @schedule.days.each_pair do |i, day|
    = link_to day, schedule_path(@schedule, :day_id => i)
= link_to schedule_action, schedule_path(@schedule), :method => :put, :class => @schedule.published? ? 'red button' : 'green button'

- if @schedule.groups.any?
  %table
    %thead
      %tr
        %th{ :colspan => 2 }
          %h1= @schedule.title
        - @schedule.groups.each do |group|
          %th{:id => "group_#{group.id}"}= group.name
        %th.new_group= link_to '+', new_schedule_group_path(@schedule), :rel => :lazybox
    %tbody
      - @days.each_pair do |i, day|
        %tr
          %th{ :rowspan => @schedule.schedule_calls.size + 1 }= day
        - @schedule.schedule_calls.each do |call|
          %tr
            %th= call.time
            - @schedule.groups.each do |group|
              - if lesson = @lessons.find_by_group_id_and_day_id_and_schedule_call_id(group.id, i, call.id)
                %td{:id => "lesson_#{lesson.id}"}
                  = render :partial => 'lesson', :object => lesson
              - else
                %td
                  = link_to('+', new_schedule_lesson_path(@schedule, :group_id => group.id, :day_id => i, :schedule_call_id => call.id), :rel => :lazybox, :class => 'add_lesson_link', :id => ['lesson', group.id, i, call.id].join('_'))
                  = link_to(t(".paste"), paste_schedule_lesson_path(@schedule, :day_id => i, :schedule_call_id => call.id, :group_id => group.id), :method => :post) unless session[:lesson_id].nil?
