= form_for [@schedule, @schedule_call], :remote => true do |f|
  = f.label :begin, 'Begin'
  = f.time_select :begin, :class => :time_select
  = error_tag @schedule_call.errors[:begin]
  = f.label :end, 'End'
  = f.time_select :begin, :class => :time_select
  = error_tag @schedule_call.errors[:end]
  = f.submit :OK
