= form_for [@schedule, @schedule_call], :remote => true do |f|
  = f.label :start_at, 'Start at'
  = f.time_select :start_at, :minute_step => 5, :class => :time_select
  = error_tag @schedule_call.errors[:start_at]
  = f.submit :OK
