%td{ :colspan => 4 }
  = form_for [@schedule, @object], :remote => true do |f|
    %table
      %tr
        %td= f.text_field :first_name
        %td= f.text_field :last_name
        %td= f.text_field :hours
        %td.actions= f.submit t("ok")
