= form_for [@schedule, @teacher], :remote => true do |f|
  = f.label :first_name, 'First Name'
  = f.text_field :first_name
  = error_tag @teacher.errors[:first_name]
  = f.label :last_name, 'Last Name'
  = f.text_field :last_name
  = error_tag @teacher.errors[:last_name]
  = f.label :hours, 'Hours'
  = f.text_field :hours
  = error_tag @teacher.errors[:hours]
  = f.submit :OK
