%tr
  %td= user.email
  %td= user.name
  %td= user.type
  %td= user.institution.nil? ? "" : user.institution.name
  - if user.approved?
    %td= t('.approved')
  - else
    %td= check_box_tag "user_ids[]", user.id, user.approved?
