%h1= t(".users_page")

- if @users.any?
  = form_tag admin_users_path do
    %table
      %thead
        %tr
          %th= t(".email")
          %th= t(".name")
          %th= t(".type")
          %th= t(".institution")
          %th= submit_tag t(".approve")
      %tbody
        = render :partial => 'user', :collection => @users, :as => :user
- else
  %h3= t(".no_users")
