!!!
%html
  %head
    %title Timetable
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header
      - if can_manage_schedules? && !@schedule.nil?
        %ul.nav
          %li= link_to t(".teachers"), schedule_teachers_path(@schedule)
          %li= link_to t(".audiences"), schedule_audiences_path(@schedule)
          %li= link_to t(".groups"), schedule_groups_path(@schedule)
          %li= link_to t(".schedule_calls"), schedule_schedule_calls_path(@schedule)
      - if can_view_schedule?
        adsasdsad
      - if current_user
        = link_to current_user.name, edit_user_path(current_user), :rel => :lazybox, :class => 'orange button'
        = link_to t(".sign_out"), session_path, :method => :delete, :class => 'orange button'
    .message= flash[:notice] if flash[:notice]
    .message= flash[:error] if flash[:error]
    .container
      = yield
